<div class="announcement-bar
announcement-bar-{% if section.settings.color_scheme == '1' %}1{% endif %}{% if section.settings.color_scheme == '2' %}2{% endif %}
announcement-bar--{% if section.settings.text != blank and section.settings.text_second != blank %}between{% endif %}"
	 role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
	{%- if section.settings.text != blank -%}
		<div class="announcement-bar__message">
			{%- if section.settings.image != blank -%}
				<figure class="announcement-bar__image">
					<img srcset="{%- if section.settings.image.width >= 25 -%}{{ section.settings.image | img_url: '25x' }} 25w,{%- endif -%}
							{%- if section.settings.image.width >= 50 -%}{{ section.settings.image | img_url: '50x' }} 50w,{%- endif -%}
							{%- if section.settings.image.width >= 75 -%}{{ section.settings.image | img_url: '75x' }} 75w,{%- endif -%}"
							 src="{{ section.settings.image | img_url: '75x' }}"
							 alt="{{ section.settings.image.alt | escape }}"
							 loading="lazy"
							 width="{{ section.settings.image.width }}"
							 height="{{ section.settings.image.height }}"
					>
				</figure>
			{%- endif -%}
			<div class="announcement-bar__text">{{ section.settings.text }}</div>
			{%- if section.settings.text_second != blank -%}
			<div class="announcement-bar__text--second">
				{{ section.settings.text_second }}
			</div>
			{%- endif -%}
			{%- if section.settings.show_reviews == true -%}
				<div class="announcement-bar__reviews">
					<a class="webwinkelkeurReviews" href="https://www.webwinkelkeur.nl/webshop/Bedrijfsnaam-nl_1212077"><img class="size-full wp-image-5623 aligncenter" role="img" src="https://www.bedrijfsnaam.nl/wp-content/uploads/bedrijfsnaam-kopen-4.svg" alt="reviews" /></a>

					<svg width="139" height="21" viewBox="0 0 139 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_270_482)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M37.2045 16.1136H34.7438L33.3635 10.6721C33.3124 10.4787 33.2251 10.0781 33.1017 9.47135C32.9787 8.86426 32.9076 8.457 32.8895 8.24923C32.8613 8.50409 32.7918 8.9139 32.68 9.47835C32.5686 10.0428 32.4825 10.4453 32.4224 10.6865L31.0486 16.1136H28.5948L25.9944 5.75504H28.1208L29.4244 11.409C29.652 12.453 29.817 13.3576 29.9194 14.1228C29.9472 13.8533 30.0111 13.4365 30.111 12.8723C30.2109 12.3076 30.3051 11.8694 30.3937 11.558L31.8783 5.75504H33.921L35.4059 11.558C35.471 11.8176 35.5524 12.2144 35.6501 12.7483C35.7478 13.2822 35.822 13.74 35.873 14.1228C35.9197 13.754 35.9939 13.2949 36.0962 12.7444C36.1983 12.1943 36.2916 11.7489 36.3752 11.409L37.6719 5.75504H39.798L37.2045 16.1136Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M44.1415 9.58113C43.6903 9.58113 43.3375 9.72622 43.0817 10.0167C42.8263 10.3075 42.6798 10.7193 42.6425 11.2532H45.6264C45.617 10.7193 45.4798 10.3075 45.215 10.0167C44.9501 9.72622 44.5923 9.58113 44.1415 9.58113ZM44.4414 16.2555C43.186 16.2555 42.2058 15.9036 41.4992 15.1995C40.7926 14.496 40.4398 13.4992 40.4398 12.2096C40.4398 10.8825 40.766 9.85636 41.419 9.13091C42.0718 8.40611 42.9747 8.0437 44.1274 8.0437C45.2288 8.0437 46.0863 8.3622 46.6999 8.99982C47.3132 9.63745 47.6203 10.5188 47.6203 11.6429V12.6913H42.5937C42.6168 13.3054 42.7959 13.7849 43.1306 14.1298C43.4652 14.4747 43.9345 14.6468 44.5385 14.6468C45.0081 14.6468 45.452 14.5972 45.8702 14.4979C46.2885 14.3993 46.7252 14.2408 47.1808 14.0235V15.6959C46.8088 15.8845 46.4115 16.0252 45.9886 16.1171C45.5659 16.2094 45.0497 16.2555 44.4414 16.2555Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M53.0023 9.77235C52.4769 9.77235 52.0931 9.93621 51.8521 10.2649C51.6104 10.5932 51.4848 11.1351 51.4754 11.8908V12.1246C51.4754 12.9751 51.5997 13.5844 51.848 13.9526C52.0969 14.321 52.4907 14.5052 53.0301 14.5052C53.4666 14.5052 53.8144 14.301 54.072 13.8924C54.3303 13.4836 54.4593 12.8898 54.4593 12.1106C54.4593 11.3311 54.3287 10.7466 54.0686 10.3568C53.8084 9.96707 53.4528 9.77235 53.0023 9.77235ZM53.6854 8.04369C54.6055 8.04369 55.3259 8.40832 55.8462 9.13822C56.3668 9.8678 56.6273 10.8681 56.6273 12.1389C56.6273 13.4473 56.359 14.4604 55.8221 15.1782C55.2852 15.8963 54.5545 16.2555 53.6297 16.2555C52.7136 16.2555 51.9961 15.9176 51.4754 15.2421H51.3289L50.9736 16.1136H49.3491V5.08878H51.4754V7.6536C51.4754 7.97973 51.4473 8.50155 51.3915 9.21967H51.4754C51.9726 8.43568 52.7092 8.04369 53.6854 8.04369Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M64.7909 16.1136L64.1914 13.3433L63.3824 9.843H63.3336L61.9119 16.1136H59.6249L57.4081 8.19229H59.5273L60.4267 11.6992C60.5707 12.328 60.7172 13.1944 60.8659 14.3H60.9076C60.9261 13.9408 61.0074 13.3716 61.1518 12.592L61.2632 11.9901L62.2253 8.19229H64.568L65.4809 11.9901C65.4994 12.0938 65.5288 12.2475 65.5682 12.4505C65.6074 12.6535 65.6459 12.8698 65.6831 13.0986C65.7201 13.328 65.7539 13.5523 65.7843 13.7718C65.8143 13.9917 65.8318 14.1673 65.8365 14.3H65.8785C65.9204 13.9596 65.9946 13.4931 66.1014 12.9007C66.2085 12.3076 66.2852 11.9073 66.3315 11.6992L67.266 8.19229H69.3501L67.1054 16.1136H64.7909Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M70.6055 16.1136H72.7316V8.19228H70.6055V16.1136ZM70.5147 6.14481C70.5147 5.441 70.9004 5.08878 71.6718 5.08878C72.4432 5.08878 72.8289 5.441 72.8289 6.14481C72.8289 6.48017 72.7328 6.74107 72.54 6.92752C72.3471 7.11429 72.0575 7.20752 71.6718 7.20752C70.9004 7.20752 70.5147 6.85339 70.5147 6.14481Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M82.1568 16.1136H80.0305V11.487C80.0305 10.9153 79.9306 10.487 79.7309 10.2009C79.5311 9.91522 79.2127 9.77236 78.7757 9.77236C78.1805 9.77236 77.751 9.9744 77.4858 10.3779C77.2213 10.7819 77.0889 11.4517 77.0889 12.3865V16.1136H74.9625V8.19229H76.587L76.8725 9.20537H76.9912C77.2282 8.82292 77.5547 8.53338 77.9708 8.33738C78.3865 8.14138 78.8593 8.0437 79.3893 8.0437C80.2956 8.0437 80.9831 8.29283 81.4527 8.7911C81.922 9.28937 82.1568 10.0088 82.1568 10.9487V16.1136Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M86.3886 11.8058L87.3159 10.6012L89.498 8.19228H91.8961L88.8008 11.6289L92.0842 16.1136H89.6304L87.3854 12.9042L86.4725 13.6481V16.1136H84.3461V5.08878H86.4725V10.0062L86.3607 11.8058H86.3886Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M96.4278 9.58113C95.9766 9.58113 95.6238 9.72622 95.368 10.0167C95.1126 10.3075 94.966 10.7193 94.9288 11.2532H97.9126C97.9033 10.7193 97.7661 10.3075 97.5013 10.0167C97.2364 9.72622 96.8786 9.58113 96.4278 9.58113ZM96.7277 16.2555C95.4723 16.2555 94.4921 15.9036 93.7855 15.1995C93.0789 14.496 92.726 13.4992 92.726 12.2096C92.726 10.8825 93.0523 9.85636 93.7053 9.13091C94.3581 8.40611 95.261 8.0437 96.4137 8.0437C97.5151 8.0437 98.3725 8.3622 98.9862 8.99982C99.5995 9.63745 99.9066 10.5188 99.9066 11.6429V12.6913H94.8799C94.9031 13.3054 95.0822 13.7849 95.4166 14.1298C95.7515 14.4747 96.2208 14.6468 96.8247 14.6468C97.2943 14.6468 97.7383 14.5972 98.1565 14.4979C98.5748 14.3993 99.0115 14.2408 99.467 14.0235V15.6959C99.0951 15.8845 98.6978 16.0252 98.2749 16.1171C97.8522 16.2094 97.336 16.2555 96.7277 16.2555Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M101.635 16.1136H103.762V5.08878H101.635V16.1136Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M114.358 16.1136H111.904L109.234 11.7489L108.321 12.4151V16.1136H106.16V5.75504H108.321V10.4949L109.172 9.2763L111.932 5.75504H114.33L110.775 10.339L114.358 16.1136Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M118.702 9.58113C118.251 9.58113 117.897 9.72622 117.642 10.0167C117.386 10.3075 117.24 10.7193 117.203 11.2532H120.187C120.177 10.7193 120.04 10.3075 119.775 10.0167C119.51 9.72622 119.152 9.58113 118.702 9.58113ZM119.001 16.2555C117.746 16.2555 116.766 15.9036 116.059 15.1995C115.353 14.496 115 13.4992 115 12.2096C115 10.8825 115.326 9.85636 115.979 9.13091C116.632 8.40611 117.535 8.0437 118.688 8.0437C119.789 8.0437 120.646 8.3622 121.26 8.99982C121.873 9.63745 122.181 10.5188 122.181 11.6429V12.6913H117.154C117.177 13.3054 117.356 13.7849 117.69 14.1298C118.025 14.4747 118.495 14.6468 119.099 14.6468C119.568 14.6468 120.012 14.5972 120.43 14.4979C120.848 14.3993 121.285 14.2408 121.741 14.0235V15.6959C121.369 15.8845 120.972 16.0252 120.549 16.1171C120.126 16.2094 119.61 16.2555 119.001 16.2555Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M129.431 16.1136L129.145 15.1002H129.033C128.805 15.469 128.482 15.7535 128.064 15.9542C127.646 16.155 127.169 16.2555 126.635 16.2555C125.719 16.2555 125.029 16.0064 124.565 15.5078C124.1 15.0096 123.867 14.2927 123.867 13.3576V8.19229H125.994V12.8189C125.994 13.3904 126.093 13.8193 126.293 14.105C126.493 14.3907 126.811 14.5336 127.248 14.5336C127.843 14.5336 128.273 14.3318 128.538 13.9278C128.803 13.524 128.936 12.8545 128.936 11.9191V8.19229H131.062V16.1136H129.431Z" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M137.643 8.0437C137.931 8.0437 138.171 8.0647 138.361 8.10734L138.201 10.1338C138.028 10.0867 137.82 10.0629 137.573 10.0629C136.895 10.0629 136.366 10.2401 135.987 10.5942C135.608 10.9487 135.419 11.4444 135.419 12.082V16.1136H133.293V8.19229H134.903L135.217 9.5245H135.322C135.563 9.08032 135.889 8.72237 136.301 8.45097C136.712 8.17924 137.159 8.0437 137.643 8.0437Z" fill="white"/>
						</g>
						<path d="M16.4426 4.05627C14.588 6.66916 12.6032 10.6968 11.4928 14.2249C11.3566 14.6551 10.806 14.9149 10.3673 14.9582C10.0647 14.9871 9.57455 14.9236 9.41722 14.6377C9.2145 14.2768 9.02691 13.9102 8.83933 13.5406C8.75764 13.3789 8.67594 13.2172 8.59123 13.0585V13.0325L8.52769 12.9199L8.4097 12.7235C8.22528 12.4221 8.00607 12.1412 7.75617 11.8863L7.71381 11.8458L7.6412 11.7852C7.57766 11.739 7.51714 11.6899 7.45058 11.6466C7.31472 11.5576 7.17327 11.4766 7.027 11.4041C6.5066 11.1471 6.72444 10.4889 7.06633 10.2088C7.28325 10.0273 7.5533 9.91359 7.84005 9.88313C8.12681 9.85267 8.41646 9.9069 8.6699 10.0385C9.32109 10.3726 9.87044 10.862 10.2644 11.459C10.9569 9.70132 11.7831 7.99431 12.7363 6.35157C11.5187 5.72035 10.1054 5.52357 8.74958 5.79649C7.39377 6.06941 6.18416 6.7942 5.33753 7.84093C4.49091 8.88766 4.06264 10.1879 4.12947 11.5086C4.19631 12.8293 4.75389 14.0841 5.70228 15.0482C6.65066 16.0122 7.92784 16.6224 9.30489 16.7693C10.6819 16.9163 12.0688 16.5905 13.217 15.8503C14.3652 15.11 15.1995 14.0038 15.5705 12.7298C15.9415 11.4558 15.8248 10.0974 15.2415 8.89805C15.6046 8.19069 15.9797 7.50932 16.361 6.87703C17.1901 7.98083 17.6899 9.27859 17.8071 10.632C17.9243 11.9855 17.6546 13.344 17.0266 14.5627C16.8258 14.9969 16.7476 15.4736 16.7997 15.9456C16.8661 16.4245 16.9065 16.9063 16.9207 17.3892C16.9336 17.4567 16.9292 17.5263 16.9077 17.5918C16.8863 17.6574 16.8485 17.7169 16.7977 17.7655C16.7468 17.814 16.6843 17.8501 16.6156 17.8705C16.547 17.891 16.4741 17.8952 16.4033 17.8829C15.9154 17.8603 15.4294 17.8092 14.948 17.7299C14.5082 17.6757 14.0612 17.7304 13.65 17.8887C12.4416 18.5029 11.0865 18.8065 9.71797 18.7697C8.34939 18.7328 7.0144 18.3568 5.8442 17.6786C4.67401 17.0004 3.70888 16.0433 3.04367 14.9014C2.37845 13.7595 2.03604 12.472 2.0501 11.1656C2.06415 9.85921 2.43419 8.57876 3.12383 7.45012C3.81347 6.32149 4.799 5.3835 5.98354 4.72835C7.16808 4.0732 8.51087 3.72343 9.87996 3.71342C11.249 3.7034 12.5973 4.03349 13.7922 4.67124C14.1644 4.11402 14.5607 3.57123 14.9752 3.04288C13.5208 2.23211 11.8746 1.7868 10.1906 1.74862C8.50671 1.71044 6.84016 2.08065 5.34703 2.82459C3.8539 3.56852 2.58302 4.66186 1.65338 6.00222C0.723732 7.34259 0.165728 8.88614 0.0316082 10.4884C-0.102512 12.0906 0.191636 13.6991 0.886517 15.1633C1.5814 16.6275 2.65429 17.8995 4.00473 18.8602C5.35517 19.8209 6.93899 20.4388 8.60792 20.6562C10.2769 20.8736 11.9763 20.6833 13.5472 20.1031C14.279 19.8836 15.0508 19.8118 15.8133 19.8924C16.6578 20.0238 17.5114 20.0942 18.3669 20.1031C18.4877 20.1127 18.6092 20.0967 18.7228 20.0563C18.8364 20.0159 18.9392 19.952 19.0239 19.8692C19.1086 19.7865 19.1731 19.6869 19.2128 19.5776C19.2524 19.4683 19.2663 19.352 19.2534 19.237C19.2407 18.406 19.1639 17.5771 19.0235 16.7569C18.9316 16.0478 19.005 15.3282 19.2383 14.6493L19.3109 14.4674L19.3563 14.3577C19.3987 14.2278 19.4471 14.118 19.4713 14.0141C20.0311 12.2527 20.0429 10.3741 19.5053 8.60638C18.9676 6.83869 17.9037 5.258 16.4426 4.05627Z" fill="white"/>
						<defs>
							<clipPath id="clip0_270_482">
								<rect width="136.498" height="20.9997" fill="white" transform="translate(2.04999 0.000488281)"/>
							</clipPath>
						</defs>
					</svg>
				</div>
			{%- endif -%}
		</div>
		{%- if section.settings.link != blank -%}
			</a>
		{%- endif -%}
	{%- endif -%}
</div>

{% schema %}
{
	"name": "t:sections.announcement-bar.name",
	"class": "section-announcement",
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"default": "1",
			"label": "t:sections.announcement-bar.settings.color_scheme.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.announcement-bar.settings.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.announcement-bar.settings.options__2.label"
				}
			]
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "<p>For example, a test of the announcement of some news</p>",
			"label": "t:sections.announcement-bar.settings.text.label"
		},
		{
		"type": "text",
		"id": "text_second",
		"label": "t:sections.announcement-bar.settings.text.label"
		},
		{
			"type": "checkbox",
			"id": "show_reviews",
			"default": true,
			"label": "Show reviews"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.announcement-bar.settings.image.label",
			"info": "t:sections.announcement-bar.settings.image.info"
		}
	],
	"default": {
		"settings": {
			"text": "<p>For example, a test of the announcement of some news</p>"
		}
	}
}
{% endschema %}
