<div class="announcement-bar
announcement-bar-{% if section.settings.color_scheme == '1' %}1{% endif %}{% if section.settings.color_scheme == '2' %}2{% endif %}
announcement-bar--{% if section.settings.text != blank and section.settings.text_second != blank %}between{% endif %}"
	 role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
	{%- if section.settings.text != blank -%}
		<div class="announcement-bar__message">
			{%- if section.settings.image != blank -%}
				<figure class="announcement-bar__image">
					<img srcset="{%- if section.settings.image.width >= 25 -%}{{ section.settings.image | img_url: '25x' }} 25w,{%- endif -%}
							{%- if section.settings.image.width >= 50 -%}{{ section.settings.image | img_url: '50x' }} 50w,{%- endif -%}
							{%- if section.settings.image.width >= 75 -%}{{ section.settings.image | img_url: '75x' }} 75w,{%- endif -%}"
							 src="{{ section.settings.image | img_url: '75x' }}"
							 alt="{{ section.settings.image.alt | escape }}"
							 loading="lazy"
							 width="{{ section.settings.image.width }}"
							 height="{{ section.settings.image.height }}"
					>
				</figure>
			{%- endif -%}
			<div class="announcement-bar__text">{{ section.settings.text }}</div>
			{%- if section.settings.text_second != blank -%}
			<div class="announcement-bar__text--second">
				{{ section.settings.text_second }}
			</div>
			{%- endif -%}
			{%- if section.settings.show_reviews == true -%}
				<div class="announcement-bar__reviews">
					<a class="webwinkelkeurReviews" href="https://www.webwinkelkeur.nl/webshop/Bedrijfsnaam-nl_1212077"><img class="size-full wp-image-5623 aligncenter" role="img" src="https://www.bedrijfsnaam.nl/wp-content/uploads/bedrijfsnaam-kopen-4.svg" alt="reviews" /></a>
				</div>
			{%- endif -%}
		</div>
		{%- if section.settings.link != blank -%}
			</a>
		{%- endif -%}
	{%- endif -%}
</div>

{% schema %}
{
	"name": "t:sections.announcement-bar.name",
	"class": "section-announcement",
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"default": "1",
			"label": "t:sections.announcement-bar.settings.color_scheme.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.announcement-bar.settings.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.announcement-bar.settings.options__2.label"
				}
			]
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "<p>For example, a test of the announcement of some news</p>",
			"label": "t:sections.announcement-bar.settings.text.label"
		},
		{
		"type": "text",
		"id": "text_second",
		"label": "t:sections.announcement-bar.settings.text.label"
		},
		{
			"type": "checkbox",
			"id": "show_reviews",
			"default": true,
			"label": "Show reviews"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.announcement-bar.settings.image.label",
			"info": "t:sections.announcement-bar.settings.image.info"
		}
	],
	"default": {
		"settings": {
			"text": "<p>For example, a test of the announcement of some news</p>"
		}
	}
}
{% endschema %}
