{{ 'section-categories-list.css' | asset_url | stylesheet_tag }}

<link
	rel="stylesheet"
	href="{{ 'template-collection.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>

<noscript>
	{{- 'template-collection.css' | asset_url | stylesheet_tag -}}
</noscript>

{% style %}
	{% render 'spaced-section' %}
{% endstyle %}

<div class="categories-list">
	<div class="container">
		{%- if section.settings.subtitle != blank
			or section.settings.title != blank
		-%}
			<div class="card-grid__text title-wrapper">
				{%- if section.settings.subtitle != blank -%}
					<div class="subtitle">
						{{ section.settings.subtitle }}
					</div>
				{%- endif -%}
				{%- if section.settings.title != blank -%}
					<h2 class="card-grid__title">
						{{ section.settings.title }}
					</h2>
				{%- endif -%}
			</div>
		{%- endif -%}

		<ul class="collection-product-list collections-grid" role="list">
			{%- for block in section.blocks -%}
				<li class="collections-grid__card {% if section.settings.image_ratio == 'portrait' or section.settings.image_ratio == 'portrait' %} collections-grid__card--portrait {% endif %} {{ block.shopify_attributes }}">
					<div class="media image-ratio--{{ section.settings.image_ratio }}">
						{% liquid
							if block.settings.image != blank
								assign collection_image = block.settings.image
							else
								assign collection_image = block.settings.collection.featured_image
							endif
						%}

						{%- if collection_image != blank -%}
							{% assign fit = '' %}
							{% if section.settings.image_fit == 'contain' %}
								{% assign fit = 'object-fit: contain;' %}
							{% endif %}
							{% if section.settings.image_fit == 'cover' %}
								{% assign fit = 'object-fit: cover;' %}
							{% endif %}
							{%- capture sizes -%}
              (min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
							{{
								collection_image
								| image_url: width: 1066
								| image_tag:
									loading: 'lazy',
									sizes: sizes,
									widths: '533, 720, 940, 1066',
									class: 'card-wrapper__image motion-reduce img-scale',
									style: fit,
									width: collection_image.width,
									height: collection_image.height
							}}
						{% else %}
							{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
						{% endif %}

						<a
							href="{{ block.settings.collection.url | default: '#' }}"
							class="link link--overlay card-wrapper__link--overlay"
							aria-label="link"
						></a>
					</div>

					<div class="collections-grid__information">
						<div class="card-information__wrapper">
							<h4 class="collections-grid__title">
								{% if block.settings.collection != blank %}
									<a
										href="{{ block.settings.collection.url | default: '#' }}"
										class="link-hover-line link-hover-arrow"
									>
										{{- block.settings.collection.title -}}
									</a>
								{% else %}
									{{- 'general.card.collection_name' | t -}}
								{% endif %}
							</h4>
							{% if section.settings.show_count
								and block.settings.collection != blank
							%}
								<span class="card-information__count">
									{{
										'templates.search.item_count'
										| t: count: block.settings.collection.all_products_count
									}}
								</span>
							{% endif %}
						</div>
						{%- if block.settings.collection.description != blank
							and section.settings.show_desc
						-%}
							<p class="collections-grid__desc">
								{{-
									block.settings.collection.description
									| strip_html
									| truncatewords: 8
								-}}
							</p>
						{%- endif -%}
					</div>
				</li>
			{%- endfor -%}
		</ul>
	</div>

	{% schema %}
	{
		"name": "t:sections.categories-list.name",
		"tag": "section",
		"class": "categories-list-section",
		"enabled_on": {
			"templates": ["*"]
		},
		"settings": [
			{
				"type": "text",
				"id": "subtitle",
				"default": "Subheading",
				"label": "t:sections.card-grid.settings.subtitle.label"
			},
			{
				"type": "inline_richtext",
				"id": "title",
				"default": "Some header",
				"label": "t:sections.card-grid.settings.heading.label"
			},
			{
				"type": "select",
				"id": "image_ratio",
				"options": [
					{
						"value": "landscape",
						"label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
					},
					{
						"value": "portrait",
						"label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
					},
					{
						"value": "square",
						"label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
					}
				],
				"default": "landscape",
				"label": "t:sections.main-list-collections.settings.image_ratio.label",
				"info": "t:sections.main-list-collections.settings.image_ratio.info"
			},
			{
				"type": "select",
				"id": "image_fit",
				"label": "t:sections.featured-products.settings.image_fit.label",
				"options": [
					{
						"value": "contain",
						"label": "t:sections.featured-products.settings.image_fit.options__1.label"
					},
					{
						"value": "cover",
						"label": "t:sections.featured-products.settings.image_fit.options__2.label"
					}
				],
				"default": "cover"
			},
			{
				"type": "checkbox",
				"id": "show_count",
				"default": true,
				"label": "t:sections.main-list-collections.settings.show_count.label"
			},
			{
				"type": "checkbox",
				"id": "show_desc",
				"default": false,
				"label": "t:sections.main-list-collections.settings.show_desc.label"
			},
			{
				"type": "header",
				"content": "t:sections.all.section-margin.header.content"
			},
			{
				"type": "range",
				"id": "margin_top",
				"min": 0,
				"max": 200,
				"step": 10,
				"default": 170,
				"unit": "px",
				"label": "t:sections.all.section-margin.margin_top.label"
			},
			{
				"type": "range",
				"id": "margin_bottom",
				"min": 0,
				"max": 200,
				"step": 10,
				"default": 0,
				"unit": "px",
				"label": "t:sections.all.section-margin.margin_bottom.label"
			}
		],
		"blocks": [
			{
				"type": "collection_item",
				"name": "t:sections.main-list-collections.settings.image.options__1.label",
				"settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "t:sections.main-list-collections.settings.image.options__1.label"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "t:sections.main-list-collections.settings.image.label"
					}
				]
			}
		],
		"presets": [
			{
				"name": "t:sections.categories-list.presets.name",
				"blocks": [
					{
						"type": "collection_item"
					},
					{
						"type": "collection_item"
					},
					{
						"type": "collection_item"
					},
					{
						"type": "collection_item"
					}
				]
			}
		]
	}
	{% endschema %}
</div>
